.aside {

    height: 100%;
    display: grid;

    &.aside-left {

        grid-template-columns: auto min-content;
        min-width: 300px;

    }

    &.aside-right {

        grid-template-columns: min-content auto;
        min-width: 300px;

    }

    & .btn-aside {
        height: 100%;
        width: 1px;
        padding: 0;
        margin: 0;
        cursor: w-resize;

        &.light {
            background-color: $secondary;
        }

        &.dark {
            background-color: $terciary;
        }
    }

}