.background {

    &.background-page {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        min-width: 100vw;
        min-height: 100vh;
    }

    &.background-white {

        background: $white;

    }

    &.background-grey {

        background: $light-grey;

    }

    &.background-white-to-green {

        background: linear-gradient($white, $secondary);

    }

    &.background-y-scroll {

        overflow-y: scroll;

    }
}