.layout {

    min-height: 100vh;

    &-one {

        display: grid;
        grid-template-rows: min-content auto min-content;

        & .child {

            display: grid;
            grid-template-columns:  min-content  minmax(400px, 100%)  min-content;
        }

    }

    &-two {

        display: grid;
        grid-template-rows: min-content auto;

    }

}