.grid {

    display: grid;

    &.columns {

        &-2 {

            grid-template-columns: repeat(2, 1fr);

        }

        &-mobile-to {

            &-1 {
                @media screen and (max-width:768px) {

                    grid-template-columns: 1fr;

                }
            }

        }

    }

    &.rows {

        &-px {

            &-56 {

                grid-template-rows: 56px;
    
            }

        }
        
        &-content {

            &-min {

                grid-template-rows: min-content;

            }

        }

    }

    &.gap {

        &-row {

            &-20 {

                grid-row-gap: 20px;

            }

            &-30 {

                grid-row-gap: 30px;

            }

        }

        &-column {

            &-20 {

                grid-column-gap: 20px;

            }

            &-30 {

                grid-column-gap: 30px;

            }

        }

    }

}