.text {

    &-color {

        &-dark-grey {

            color: $dark-grey;

        }

        &-secondary {

            color: $secondary;

        }

    }

    &-weight {

        &-500 {

            font-weight: 500;

        }

        &-600 {

            font-weight: 600;

        }

        &-700 {

            font-weight: 700;

        }

    }

    &-poppins {

        font-family: 'Poppins', sans-serif;

    }

}