*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-picture {
    width: 2.8rem;
    overflow: hidden;

    .img {
        cursor: pointer;
    }
}

img .img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray)
}

nav {
    width: 100%;
    background-color: var(--color-white);
    padding: 0.7rem;
    position: fixed;
    top: 0;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-bar {
        background: var(--color-light);
        border-radius: var(--border-radius);
        padding: var(--search-padding);

        input[type="search"] {
            background: transparent;
            width: 30vw;
            margin-left: 1rem;
            font-size: 0.9rem;
            color: var(--color-dark);
        }

        input[type="search"]::placeholder {
            color: var(--color-gray);
        }
    }

    .create {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.post {
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
}